<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTO Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>

        <!-- DBから一度に取得する行数を制御 -->
        <setting name="defaultFetchSize" value="100"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.nijimas.api.core.entity"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler javaType="java.util.UUID" handler="com.nijimas.api.infrastructure.typehandler.UUIDTypeHandler"/>
        <typeHandler javaType="java.util.List" jdbcType="VARCHAR" handler="com.nijimas.api.infrastructure.typehandler.CommaSeparatedStringTypeHandler"/>
    </typeHandlers>
</configuration>