<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nijimas.api.infrastructure.mybatis.mapper.ExpenseSummaryMapper">

    <insert id="insert" parameterType="com.nijimas.api.core.entity.ExpenseSummaryEntity">
        INSERT INTO "expense_summary" (uid, year, month, main_category, amount)
        VALUES (
        #{uid},
        #{year},
        #{month},
        #{mainCategory},
        #{amount}
        )
    </insert>

    <update id="update" parameterType="com.nijimas.api.core.entity.ExpenseSummaryEntity">
        UPDATE "expense_summary" SET
        amount = #{amount}
        WHERE uid = #{uid}
        AND year = #{year}
        AND month = #{month}
        AND main_category = #{mainCategory}
    </update>

    <select id="findOne" resultType="com.nijimas.api.core.entity.ExpenseSummaryEntity">
        SELECT * FROM "expense_summary"
        WHERE uid = #{uid}
        AND year = #{year}
        AND month = #{month}
        AND main_category = #{mainCategory}
    </select>

    <select id="findByMonth" resultType="com.nijimas.api.core.dto.summary.CommonSummaryDto">
        SELECT main_category, amount
        FROM "expense_summary"
        WHERE uid = #{uid}
        AND year = #{year}
        AND month = #{month}
    </select>
</mapper>
