<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nijimas.api.infrastructure.mybatis.mapper.FavoriteMapper">

    <insert id="insert" parameterType="com.nijimas.api.core.entity.FavoriteEntity">
        insert into "favorites" (post_id, uid)
        values (
        #{postId},
        #{uid}
        )
    </insert>

    <select id="existsById" resultType="java.lang.Integer" parameterType="com.nijimas.api.core.entity.FavoriteEntity">
        SELECT 1
        FROM "favorites"
        WHERE post_id = #{postId} and uid = #{uid}
    </select>

    <delete id="delete" parameterType="com.nijimas.api.core.entity.FavoriteEntity">
        delete from "favorites"
        where post_id = #{postId} and uid = #{uid}
    </delete>
</mapper>