<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nijimas.api.infrastructure.mybatis.mapper.PostSubcategoryMapper">

    <insert id="insert" parameterType="com.nijimas.api.core.entity.PostSubcategoryEntity">
        insert into "post_subcategories" (post_id, category_no, category_id)
        values (
        #{postId},
        #{categoryNo},
        #{categoryId}
        )
    </insert>
</mapper>
