<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nijimas.api.infrastructure.mybatis.mapper.PostMapper">

    <insert id="insert" parameterType="com.nijimas.api.core.model.Post">
        insert into "post" ( post_id, uid, main_category, post_text, photo_url, expense, location, public_type_no)
        values (
        #{postId},
        #{uid},
        #{mainCategory},
        #{postText},
        #{photoUrl},
        #{expense},
        #{location},
        #{publicTypeNo}
        )
    </insert>

    <select id="findById" resultType="com.nijimas.api.core.dto.PostDto">
        SELECT
        p.post_id,
        u.uid,
        u.username,
        u.profile_image_url,
        p.main_category,
        ps1.sub_category AS subCategory1,
        ps2.sub_category AS subCategory2,
        p.post_text,
        p.photo_url,
        p.expense,
        p.location,
        p.public_type_no,
        p.created_at
        FROM post p
        JOIN user u ON p.uid = u.uid
        LEFT JOIN post_subcategory ps1
        ON p.post_id = ps1.post_id AND ps1.subcategory_no = '1'
        LEFT JOIN post_subcategory ps2
        ON p.post_id = ps2.post_id AND ps2.subcategory_no = '2'
        WHERE p.post_id = #{postId}
    </select>

    <select id="findByUid" resultType="com.nijimas.api.core.dto.PostDto">
        SELECT
        p.post_id,
        u.uid,
        u.username,
        u.profile_image_url,
        p.main_category,
        ps1.sub_category AS subCategory1,
        ps2.sub_category AS subCategory2,
        p.post_text,
        p.photo_url,
        p.expense,
        p.location,
        p.public_type_no,
        p.created_at,
        CASE WHEN f.uid IS NOT NULL THEN TRUE ELSE FALSE END AS isFavorite
        FROM post p
        JOIN user u ON p.uid = u.uid
        LEFT JOIN post_subcategory ps1
        ON p.post_id = ps1.post_id AND ps1.subcategory_no = '1'
        LEFT JOIN post_subcategory ps2
        ON p.post_id = ps2.post_id AND ps2.subcategory_no = '2'
        LEFT JOIN favorite f
        ON p.post_id = f.post_id AND f.uid = #{uid}
        WHERE p.uid = #{postUid}
        ORDER BY p.created_at DESC
        LIMIT 50
    </select>
</mapper>