<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nijimas.api.infrastructure.mybatis.mapper.SubCategoryMapper">

    <insert id="insert" parameterType="com.nijimas.api.core.entity.SubCategoryEntity">
        insert into "sub_categories" (category_id, category_name)
        values (
        #{categoryId},
        #{categoryName}
        )
    </insert>

    <select id="findById" resultType="com.nijimas.api.core.entity.SubCategoryEntity">
        select * from "sub_categories"
        where category_name = #{categoryName}
    </select>
</mapper>
